.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json

application_manager/*.exe
application_manager/*.dat
Logs/*
release/build/trigger_slicer.txt
release/build/Logs/Log2025-07-21.txt
release/build/DCTFFRGUI.exe
release/build/Logs/Log2025-07-22.txt
release/build/Logs/Log*
release/build.zip
release/build/workflow.py
release/build.b64
release/build/DCTFFRGUI.exe
release/package/MyAppInstaller.exe
